[submodule "GestSIS_Auth"]
	path = GestSIS_Auth
	url = git@github.com:Ph0tonic/GestSIS_Auth.git
[submodule "GestSIS_API"]
	path = GestSIS_API
	url = git@github.com:Ph0tonic/GestSIS_API.git
[submodule "GestSIS_APP"]
	path = GestSIS_APP
	url = git@github.com:Ph0tonic/GestSIS_APP.git
[submodule "GestSIS_Alarm"]
	path = GestSIS_Alarm
	url = git@github.com:Ph0tonic/GestSIS_Alarm.git
[submodule "GestSIS_Doc"]
	path = GestSIS_Doc
	url = git@github.com:Ph0tonic/GestSIS_Doc.git
[submodule "GestSIS_Bug"]
	path = GestSIS_Bug
	url = git@github.com:Ph0tonic/GestSIS_Bug.git
